body{
    text-align: center;
    background-color: blanchedalmond
}

li{
    text-align: left;
}
h2{
    background-color: aquamarine;
    text-align: right;
}

ud
{
    font-size: 25px;
}
p{
    font-size: 22px;
}